.el-avatar {
  --el-avatar-background-color: none !important;
}
.el-card {
  // border: 0 !important;
  border-radius: 10px !important;
}


.el-card.is-always-shadow {
  box-shadow: none !important;
}


